@import "settings";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

body {
  font-family: $basic-font !important;
  color: $color-1;
}

.content {

}

@media (min-width: 576px) {
  .content {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .content {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .content {
    width: 960px;
  }
}

@media (min-width: 1040px) {
  .content {
    width: 1024px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .content {
    width: 1280px;
    margin: 0 auto;
  }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $basic-font !important;
}

.header {
  width: 100%;
  height: 70px;
  background: #0C0537;
}

.navbar-brand {
  img {
    width: 75px;
    height: 58px;
  }
}

.flex {
  @include display-flex-3;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .nav-item {
    .nav-link {
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      color: #FFFFFF;
      padding: 0 20px;

      &.active {
        font-weight: bold;
      }

      &.color-01 {
        color: $color-2;
        font-weight: bold;

        & i {
          margin: 0 9px;
          font-size: 18px;
        }
      }

      &.nav-contact {
        i {
          color: $color-2;
          margin: 0 9px;
        }

        &.tel {
          width: 214px;
          padding: 13px 23px 13px 31px;
          border: 1px solid #FFFFFF;
          box-sizing: border-box;
          border-radius: 2px;
          transition: all 0.3s;

          &:hover {
            border: 1px solid $color-2;
          }
        }
      }
    }
  }

}

.header .header-contact.opened {
  display: block;
  width: 100%;
}

.header .menu-button {
  cursor: pointer;
  width: 24px;
  height: 24px;
  background: url("../img/menu.svg");
  display: none;

}

.header .menu-button.active {
  background: url("../img/close.svg");
  width: 24px;
  height: 24px;
  position: relative;
  z-index: 1000;
}

.header .header-menu.opened {
  width: 100%;
  height: 100%;
  z-index: 29;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .nav-item {
    padding: 10px;
  }

  a.nav-link.nav-contact {
    border-top: 1px solid #535353;
    padding: 15px;
    border-radius: 0;
  }
}

@media (max-width: 1320px) {
  .header .menu-button {
    display: block;
    margin-top: 18px;
  }

  .header .header-menu {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3;
    background: $color-3;
    box-shadow: 10px 10px 10px rgb(0 0 0 / 4%);
    margin: 0;
    padding: 86px 42px 34px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 97%;
  }
  .header .header-contact.opened {
    display: block;
    width: 100%;
  }
  .header .header-menu {
    display: none;
  }
  .catalog {
    flex-wrap: wrap;
  }
}

.section-banner {
  display: flex;
  align-items: center;
}
img.slide {
  vertical-align: top;
  width: 100%;
  height: 448px;
  object-fit: cover;
}
.section-slider-text {
  margin-left: 319px;
  margin-right: 55px;
  position: relative;

  .h3-section-title {
    font-weight: 800;
    font-size: 36px;
    line-height: 40px;
    color: #535353;

    span {
      color: #FFC94F;
    }
  }

  .section-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #535353;
    padding: 15px 0;
  }

  .section-btn {
    margin: 10px 0;

    .details-btn {
      width: 197px;
      height: 44px;
      background: #FFC94F;
      border-radius: 2px;
      font-weight: bold;
      text-align: center;
      font-size: 14px;
      line-height: 17px;
      color: #535353;
      transition: all 0.3s;


      &:hover {
        border: 1px solid $color-2;
        background: transparent;
      }
    }
  }

}

.section-banner {
  .carousel {
    width: 100%;

    img {
      vertical-align: top;
      width: 100%;
    }
  }

  .carousel-indicators {
    bottom: -50px;
  }

  .carousel-indicators {
    margin: 0;

    li {
      box-sizing: content-box;
      width: 228px !important;
      height: 3px;
      text-indent: -999px;
      cursor: pointer;
      background-color: #EFEFEF;
      background-clip: padding-box;
      opacity: .5;
      z-index: 2;
      transition: opacity .6s ease;

      &.active {
        background-color: #F3A800;
        height: 3px;
      }
    }
  }

  .carousel-control {
    position: absolute;
    left: -40px;
    bottom: 76px;

    .carousel-control-prev {
      left: 0;
      top: 50px;
      right: inherit;
      width: 32px;
      height: 27px;
      background: #FFFFFF;
      border: 1px solid #EDEDED;
      box-shadow: 0 4px 10px rgba(243, 168, 0, 0.25);
      border-radius: 3px;
    }

    .carousel-control-next {
      right: inherit;
      width: 32px;
      height: 27px;
      background: #FFFFFF;
      border: 1px solid #EDEDED;
      box-shadow: 0 4px 10px rgba(243, 168, 0, 0.25);
      border-radius: 3px;
    }
  }

  .carousel-control-next:focus, .carousel-control-next:hover, .carousel-control-prev:focus, .carousel-control-prev:hover {
    border: 1px solid #EDEDED;
    background: #3D4F64;
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9;
  }

  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns= 'http://www.w3.org/2000/svg' fill= '000' width= '8' height= '8' viewBox= '0 0 8 8' %3e%3cpath d= 'M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z' /%3e%3c/svg%3e");
  }

  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='000' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
  }

  .carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 11px;
    height: 10px;
  }

}

.section-catalog, .section-services, .section-new-items {
  margin: 130px auto 64px;

  .section-title {
    position: relative;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 40px;
    color: #535353;
    padding: 0 15px;
    margin-bottom: 50px;

    h2:before {
      content: " ";
      position: absolute;
      border-left: 3px solid #F3A800;
      height: 100%;
      left: 0;

    }

  }
}

.bloc-catalog {
  display: flex;
}

.left-catalog {
  .card {
    border-left: 0 !important;
    border-right: 0 !important;
  }

  .card-header {
    background-color: transparent;
    padding: 15px 0;
    border-bottom: 0;

    .text_dark {
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      color: #535353;

      &.yellow {
        color: #FFC94F;

      }
    }
  }

  .card-body {
    padding: 1.25rem 0;

    .text_muted {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      padding: 10px 0 20px;
      color: #535353;
    }

    .go-over-button {
      width: 280px;
      height: 44px;
      background: #3D4F64;
      border-radius: 2px;
      transition: all 0.3s;

      .btn-catalog {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        text-align: center;
        line-height: 40px;
        color: #FFFFFF;
        display: flex;
        justify-content: center;

        &:hover {
          color: #3D4F64;
        }
      }

      &:hover {
        border: 1px solid #3D4F64;
        background: transparent;
      }
    }
  }
}

.text_muted {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  padding: 10px 0 20px;
  color: #535353;
}

.right-catalog {
  display: flex;
  justify-content: space-between;

  .bloc-1 {
    position: relative;
    width: 305px;
    height: 461px;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

  }

  .bloc-2 {
    position: relative;
    width: 305px;
    margin: 0 18px;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .bloc-01 {
    position: relative;
    width: 100%;
    height: 220px;
    background: rgba(93, 55, 55, 0.5);

    &:first-child {
      margin-bottom: 18px;
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .bloc-info {
    width: 204px;
    height: 38px;
    background: #FFFFFF;
    border: 1px solid #F1F1F1;
    box-sizing: border-box;
    border-radius: 0 2px 2px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 0;
    cursor: pointer;

    .name {
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      color: #535353;
    }

    .plus {
      i {
        color: #F3A800;

      }
    }
  }
}

.title-services {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  color: #535353;
}

.section-services {


  .accordion .card-header:after {
    font-family: 'FontAwesome', sans-serif;
    content: "\f00d";
    float: right;
    color: #FFC94F;
    font-size: 20px;
  }

  .accordion .card-header.collapsed:after {
    content: "\f067";
    color: #FFC94F;
    font-size: 20px;
  }

  a.card-title {
    line-height: 40px;
    font-weight: bold;
    font-size: 16px;
    color: #535353;
  }

  .services {
    margin-right: 50px;
  }

  .card-header {
    background-color: transparent !important;
  }

  .card {
    border: 0;
  }

  .card-header {
    cursor: pointer;
  }

  .card-body {
    p {
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      color: #535353;
      padding: 0 90px;
    }
  }

}

.catalog {
  display: flex;
  justify-content: space-between;

  .item {
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    margin: 10px;


  }

  .item-img {
    width: 100%;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;


    img {
      vertical-align: top;
      width: 100%;
      max-width: 257px;
      text-align: center;
      height: auto;
      min-height: 2rem;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;


      @media screen and (max-width: 768px) {
        width: 50%;
        height: auto !important;
        min-height: auto;
        background-size: contain;

      }
    }

    img.item-2 {
      width: 128px;
      height: 181px;
    }

    .day {
      position: absolute;
      top: 0;
      left: 0;
      font-weight: 600;
      font-size: 16px;
      line-height: 32px;
      color: #3D4F64;
      text-align: center;
      width: 49.83px;
      height: 31px;
      background: #FFC94F;
    }

  }

  .properties {
    padding: 0 20px;

    .item-title {
      font-weight: bold;
      font-size: 14px;
      line-height: 22px;
      color: #535353;
    }

    .item-list {
      margin: 0 20px;

      .list-item {
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
        color: #535353;
        padding-top: 15px;
        list-style-type: disc !important;

        &::marker {
          background-color: #FFC94F;
          color: #FFC94F;
        }
      }
    }

    .price {
      font-weight: bold;
      font-size: 20px;
      line-height: 21px;
      color: #535353;
      padding: 16px 0 60px;

    }

  }

  .details {
    display: flex;

    .details-btn {
      background: #3D4F64;
      border-radius: 0 0 0 2px;
      transition: all 0.3s;

      a {
        font-weight: 600;
        font-size: 14px;
        line-height: 50px;
        color: #FFFFFF;
        text-align: center;
        display: flex;
        padding: 0 80px;
        justify-content: center;
      }

      &:hover {
        border: 1px solid #3D4F64;
        background: transparent;

        a {
          color: #3D4F64;
        }
      }
    }

    .plus-btn {
      width: 73px;
      height: 55px;
      background: #EFEFEF;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 45px;
      color: #535353;
    }
  }
}

.item:hover {
  box-shadow: 0 0 30px rgba(255, 201, 79, 0.3);
  border-radius: 0;

  .price {
    color: #FFC94F;
  }

}

.go-catalog {
  margin: 95px auto 10px;
  width: 214px;
  height: 44px;
  background: #F3C650;
  border-radius: 2px;
  transition: all 0.3s;

  a {
    font-weight: bold;
    font-size: 14px;
    color: #535353;
    display: flex;
    justify-content: center;
    line-height: 44px;
  }


  &:hover {
    border: 1px solid $color-2;
    background: transparent;

  }
}

.section-files {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-files-title {
  background-image: url("../img/files-icon.png");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: contain;
  width: 133px;
  height: 133px;
  position: relative;
  z-index: 20;

  h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 128px;
    position: relative;
    width: 300px;
    margin-left: 50px;
    z-index: 30;
    color: #505050;

  }
}

.catalog-files {
  display: flex;
  flex-direction: column;
  position: relative;

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #EFEFEF;
  }

}

.look-files {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .look {
    font-weight: bold;
    font-size: 14px;
    line-height: 45px;
    color: #656565;
    margin: 0 10px;
  }

  .download {

    .download-text {
      font-weight: bold;
      font-size: 14px;
      line-height: 30px;
      color: #656565;
      margin: 0 10px;
    }

    img {
      width: 21px;
      height: 21px;
      margin: 0 10px;
    }
  }
}

.landing_nav {
  position: fixed;
  bottom: 0;
  transform: translateY(-50%);
  right: 300px;
  list-style: none;
  z-index: 100;
}

.landing_nav li a {
  position: relative;
  text-align: right;
  display: block;
  margin: 10px;
  color: transparent;
}

.landing_nav li:hover a, .landing_nav li.active a {
  color: white;
  visibility: hidden;
  text-decoration: none;

}

.landing_nav li.active a:after, .landing_nav li:hover a:after {
  background: #FFC94F;
  transition: all 0.3s;
  color: white;
}

.landing_nav li a:after {
  content: "";
  display: block;
  background: white;
  width: 3px;
  height: 36px;
  cursor: pointer;
  right: -10px;
  position: absolute;
  top: 0;
}

.section-questions {
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.section-questions-title {
  background-image: url("../img/questions-icon.png");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: contain;
  width: 133px;
  height: 133px;
  position: relative;
  z-index: 20;

  h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 140px;
    position: relative;
    margin-left: 50px;
    z-index: 30;
    width: 500px;
    color: #505050;
  }
}

.form-control {
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #dddee0;
  -webkit-transition: border-color 0s ease-out;
  transition: border-color 0s ease-out;
  background-color: #fff;
  padding: 10px 0;
}

.form-control:focus {
  outline: 0;
  box-shadow: none !important;
}

.catalog-questions {
  margin-top: 80px;

  .btn {
    width: 214px;
    height: 44px;
    background: #FFC94F;
    border-radius: 2px;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #464855;
    margin: 40px 0;
    float: right;
  }
}

.footer {
  background: #3D4F64;
  padding: 40px 0;

  .foo-title {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    color: #FFFFFF;
    padding: 5px 0;
  }

  .footer-item {
    a {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 24px;
      color: #FFFFFF;
      padding: 8px 0;

      &:hover {
        text-decoration-line: underline !important;
        color: $color-2;
      }

      i {
        color: $color-2;
        font-size: 16px;
        margin: 0 8px;
      }
    }
  }
}

.copy {
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  color: #FFFFFF;
  margin: 24px 0;
}

.copy-mob {
  display: none;
}


/*******************************      COMPANY    ***********************/
.breadcrumb-item + .breadcrumb-item::before {
  float: left;
  padding-right: .5rem;
  color: #6c757d;
  content: "-";
}

.breadcrumb {
  background: transparent;

  .breadcrumb-item {
    margin: 17px 0;

    a {
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      color: #7C7C7C;
    }
  }
}

.page-title-box {
  margin: 38px auto 45px;

  h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
    color: #535353;
  }
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background: #3D4F64;
  border-radius: 2px 2px 0 2px;
}

ul.nav.nav-pills.nav-justified {
  border-bottom: 1px solid #EDEDED;
}

.nav-link {
  border-radius: .25rem;
  font-weight: 500;
  font-size: 16px;
  line-height: 40px;
  color: #535353;
}

.text_muted {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #535353;
}

.solutions {
  margin-bottom: 50px;

  .nav-link {
    text-align: left;

    i {
      float: right;
      line-height: 40px;
    }
  }

  .header-title {
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 40px;
    color: #535353;
    margin: 20px 0;
  }

  .solutions-img {
    display: flex;
    flex-direction: column;

    .solutions-img-1 {
      width: 100%;
      height: 316px;
      background: rgba(0, 0, 0, 0.9);
      margin-bottom: 20px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .solutions-img-2 {
      display: flex;
      justify-content: space-between;

      .img-1 {
        width: 306px;
        height: 148px;
        background: rgba(0, 0, 0, 0.42);

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        &:nth-child(2n) {
          margin: 0 20px;
        }
      }
    }

  }
}

/*******************************      Services   ***********************/
.services {
  a.nav-link {
    font-size: 14px;
    line-height: 20px;
    padding: 10px 20px;
    border-left: 1px solid #EDEDED;
    min-height: 100px;
  }
}

.row-mob-solutions {
  display: none;
}

/*******************************      Catalog   ***********************/
.catalog-bloc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  .catalog-item {
    border-radius: 2px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    margin: 10px;
    transition: all 0.3s;


    .catalog-link {
      padding: 10px 20px;
      font-weight: 500;
      font-size: 14px;
      line-height: 40px;
      color: #535353;

    }

    &:hover {
      background: #3D4F64;
      box-shadow: 0 0 15px rgba(255, 201, 79, 0.3);
      border-radius: 2px;

      .catalog-link {
        color: #FFFFFF;
      }
    }

  }

  .catalog-item.active {
    background: #3D4F64;
    box-shadow: 0 0 15px rgba(255, 201, 79, 0.3);
    border-radius: 2px;

    .catalog-link {
      color: #FFFFFF;
    }
  }


}


.filter {
  width: 302px;
  height: 530px;
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  margin-top: 32px;

  .btn.button {
    box-sizing: border-box;
    width: 117px;
    height: 31px;
    border: 1px solid #E5E5E5;
    border-radius: 2px;
    margin: 25px 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 31px;
    color: #535353;
    padding: 0;

  }

  .btn.submit {
    width: 117px;
    height: 31px;
    background: #FFC94F;
    border-radius: 2px;
    box-sizing: border-box;
    margin: 25px 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 31px;
    color: #535353;
    padding: 0;

  }
}

.filterItem-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 40px;
  color: #535353;
  padding: 5px 0;
}

.filter-title-bloc {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h4 {
    font-weight: bold;
    font-size: 16px;
    line-height: 40px;
    color: #535353;

  }

  span {
    float: right;

    i {
      color: $color-2;
      font-size: 16px;
    }
  }

}

.range-wrap {
  position: relative;
}

.range {
  width: 100%;
  height: 1px;
  background: #FFC94F !important;
  color: #FFC94F !important;
  margin-top: 20px;

}

.bubble {
  color: #3D4F64;
  padding: 4px 12px;
  position: absolute;
  border-radius: 4px;
  left: 10px;
  top: -3px;
  transform: translateX(-50%);
}

.page-nation {
  display: flex;
  justify-content: center;
  margin: 21px auto;

  .page-item {
    margin: 12px;
    width: 24px;
    height: 24px;
    background: #FFFFFF;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 2px;

    .page-link {
      font-weight: normal;
      font-size: 12px;
      line-height: 21px;
      text-align: center;
      text-transform: uppercase;
      color: #464855;
      border: 0;
      padding: 0;
      background: transparent;

    }

    &:hover {

      .page-link {
        font-weight: bold;
        background: #FFC94F;
      }
    }


  }
}


.cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box-minmax {
  width: 255px;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #3D4F64;

  span:first-child {
    margin-left: 10px;
  }
}

.range-slider {

}

.rs-range {

  width: 255px;
  -webkit-appearance: none;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    box-shadow: none;
    background: #FFC94F;
    border-radius: 0;
    border: 0 solid #010101;
  }

  &::-moz-range-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    box-shadow: none;
    background: #FFC94F;
    border-radius: 0;
    border: 0 solid #010101;
  }

  &::-webkit-slider-thumb {
    border: 0 solid #FFC94F;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    background: #FFC94F;
    box-shadow: 0 0 4px #FFC94F;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5px;
  }

  &::-moz-range-thumb {
    border: 0 solid #FFC94F;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
    height: 42px;
    width: 22px;
    border-radius: 22px;
    background: #FFC94F;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -20px;
  }

  &::-moz-focus-outer {
    border: 0;
  }
}

.rs-label {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #3D4F64;

  &::after {
    content: "";
    display: block;
    font-size: 20px;
    letter-spacing: 0.07em;
    margin-top: -2px;
  }

}


/*******************************      Card Product   ***********************/

.modifications-bloc {
  border-top: 1px solid #EDEDED;
  border-bottom: 1px solid #EDEDED;
  padding: 20px 0;

  .mod-1 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 14px 0;
  }

  .criteria-name {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #535353;
    width: 140px;
    margin-right: 18px;
  }

  .criteria {
    display: flex;
    flex-wrap: wrap;
  }

  .criteria-number {
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    border: 1px solid #EDEDED;
    color: #8C8C8C;
    padding: 0 13px;
    margin: 5px 2px;
    cursor: pointer;

    &:hover {
      background: #FFFFFF;
      border: 1px solid #FFC94F;
      box-sizing: border-box;
      border-radius: 2px;
    }
  }

}

.mod-btn {
  width: 394px;
  background: #FFC94F;
  border-radius: 2px;
  margin: 20px 0 100px;
  transition: all 0.3s;

  a {
    font-weight: 600;
    font-size: 16px;
    line-height: 44px;
    color: #3D4F64;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  &:hover {
    border: 1px solid $color-2;
    background: transparent;
  }
}

.item-list {
  margin: 30px 0;

  span {
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
  }

  .list-item {
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    padding-top: 15px;
    list-style-type: disc !important;

    &::marker {
      background-color: #FFC94F;
      color: #FFC94F;
    }
  }
}


#main {
  display: none;
}

.table-bloc {
  .header-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 40px;
    color: #535353;

    span {
      font-weight: normal;
      margin-left: 20px;
    }
  }

}

.table {
  thead {
    background: #F9F9F9;

    tr {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #535353;

    }
  }

  tbody {
    tr {
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      color: #8C8C8C;
    }

  }
}

.table td, .table th {
  text-align: center;
  vertical-align: top;
}

.sel-item-1 {
  width: 100%;
  height: 175px;
  background: #FFFFFF;
  margin: 15px 0;
  border: 1px solid #E5E5E5;
  transition: all 0.3s;

  &:hover {
    border: 0;
    box-shadow: 0 4px 10px rgba(243, 168, 0, 0.2);
  }
}

.product {
  font-weight: 500;
  font-size: 14px;
  line-height: 40px;
  color: #000000;
}

.selected-info-mob.col-lg-4 {
  display: flex;
  justify-content: space-between;
}

.selected-icon {

  img {
    width: 82px;
    height: 82px;

  }
}

.selected-name {
  h4 {
    font-weight: bold;
    font-size: 16px;
    color: #535353;
  }

}

.closed {
  display: none;
}

.selected-info {
  display: flex;

  width: 90%;
}

.description {
  margin-top: 15px;

  .description-item {
    padding: 0 10px;

    li {
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      color: #505050;
      padding: 2px 0;

    }

    &:first-child {
      border-right: 1px solid #E5E5E5;
    }

    &.des-item {
      border-right: none;
    }
  }


}

.selected-quantity {

  .input-group {

    .plusminus {
      width: 24px;
      height: 25px;
      background: #3D4F64;
      border-radius: 2px 0 0 2px;
      color: #E5E5E5;
    }

    .number {
      width: 50px;
      background: #FFFFFF;
      border: 1px solid #C0C0C0;
      box-sizing: border-box;
      color: #3D4F64;
      text-align: center;
    }
  }

  .stock {
    font-weight: normal;
    font-size: 12px;
    line-height: 40px;
    color: #535353;
  }
}

.selected-dram {
  span {
    font-weight: bold;
    font-size: 14px;
    line-height: 40px;
    color: #535353;
  }
}

.selected-close {
  margin-right: 18px;

  button {
    span {
      font-weight: bold;
      font-size: 14px;
      line-height: 40px;
      color: #F3A800;
    }
  }
}


.btn.post {
  width: 313px;
  height: 44px;
  background: #FFFFFF;
  border: 1px solid #3D4F64;
  box-sizing: border-box;
  border-radius: 2px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #3D4F64;
  transition: all 0.3s;
  margin: 18px 8px;

  &:hover {
    border: 1px solid $color-2;
  }
}


.btn.payment {
  width: 313px;
  height: 44px;
  background: #FFC94F;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #3D4F64;
  margin: 18px 8px;
  transition: all 0.3s;

  &:hover {
    border: 1px solid $color-2;
    background: transparent;
  }
}

.shopping-bloc {
  a {
    font-weight: bold;
    font-size: 14px;
    line-height: 40px;
    color: #535353;

    i {
      font-size: 14px;
      line-height: 40px;
      color: #535353;
    }
  }


}

.total {
  font-weight: bold;
  font-size: 14px;
  line-height: 40px;
  color: #535353;

}

/*******************************     Delivery   ***********************/
.bd-delivery {
  background-color: rgb(252, 252, 252);
}

.delivery {

  .activity-info-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 40px;
    color: #535353;

  }

  .activity-info-form {
    background-color: #fff;

    .btn-submit {
      width: 214px;
      height: 44px;
      background: #FFC94F;
      border-radius: 2px;
      margin: 0 30px 0 0;
      outline: none;
      font-weight: bold;
      font-size: 14px;
      color: #464855;
      transition: all 0.3s;

      &:hover {
        border: 1px solid $color-2;
        background: transparent;
      }
    }
  }

  .activity .activity-info .icon-info-activity .mdi {
    width: 42px;
    height: 42px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #535353;
    font-size: 22px;
    margin-left: 2px;
    background: #FFFFFF;
    border: 1px solid #FFC94F;
    box-sizing: border-box;
    box-shadow: 0 8px 10px rgba(255, 201, 79, 0.25);
  }

  .icon-info-activity-2:after {
    content: '';
    height: 1px;
    border-right: 1px dashed #C4C4C4;
    position: absolute;
    color: #C4C4C4;
    top: 21px;
    width: 65%;
    right: 10px;
    background: #C4C4C4;
  }

  .icon-info-activity-2:before {
    content: '';
    height: 1px;
    border-right: 1px dashed #C4C4C4;
    position: absolute;
    color: #C4C4C4;
    width: 65%;
    top: 21px;
    left: -170px;
    background: #C4C4C4;
  }

  .text-info {
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    color: #535353 !important;
    text-decoration: underline !important;
  }
}


.card-product {
  .carousel {
    position: relative;
    display: flex;
  }

  ol.carousel-indicators.list-inline {
    display: flex;
    flex-direction: column;
  }

  .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: 30px;
  }

  .carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    width: 82px;
    height: 23px;
    bottom: 0;
    background: #3D4F64;
    box-shadow: 0 4px 10px rgba(255, 201, 79, 0.25);
    border-radius: 0 0 2px 2px;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
  }

  .carousel-control-next {
    left: -12px;
    top: 455px;
  }

  .carousel-control-prev {
    left: -12px;
  }

  .carousel-control-next-icon, .carousel-control-prev-icon {
    transform: rotate(90deg);
  }

  .carousel-indicators {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
    list-style: none;
  }

  .carousel-inner img {
    width: 100%;
    height: 100%;
  }

  #custCarousel .carousel-indicators {
    position: static;
    margin-top: 20px;
    margin-right: 10px;
  }

  #custCarousel .carousel-indicators > li {
    width: 82px;
    height: 82px;
  }

  #custCarousel .carousel-indicators li img {
    display: block;
    opacity: 1;
  }

  #custCarousel .carousel-indicators li.active img {
    border: 2px solid #F3A800;
  }

  #custCarousel .carousel-indicators li:hover img {
    opacity: 0.75;
  }

  .carousel-item img {
    width: 80%;
  }
}


/*******************************   Modal  ***********************/
.modal-content {
  align-items: center;
  width: 72%;

  .modal-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #535353;
    padding: 60px 10px 0;

  }

  label.form-check-label {
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
    color: #A6A6A6;
  }

  input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    width: 11px;
    height: 11px;
    background: #FFFFFF;
    border: 1px solid #FFC94F;
    border-radius: 2px;
  }

  .modal-footer {
    .btn-sbm {
      width: 340px;
      height: 44px;
      background: #FFC94F;
      border-radius: 2px;

      font-weight: bold;
      font-size: 14px;
      line-height: 34px;
      color: #464855;

    }
  }

}


.arrow-mob {
  display: none;
}

/*******************************      MD       ***********************/

@media screen and (max-width: 1024px) {
  .row {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  .header {
    padding: 0 10px;
  }
  .section-banner {
    flex-direction: column-reverse;

    div#carouselExampleCaptions, .carousel-inner {
      height: auto;
    }

    .carousel-indicators {
      display: none;
    }

    .section-slider-text {
      margin: 30px 10px;
      position: relative;

    }
  }
  .left-catalog {
    width: 100%;
  }
  .right-catalog {
    display: none;
  }

  .section-catalog, .section-services, .section-new-items {
    margin: 20px 10px 40px;
  }
  .catalog {
    flex-wrap: wrap;

    .details .details-btn a {
      padding: 0 50px;
    }

  }
  .item-img {
    img {
      width: 130px;
      height: 49px;
    }

    .item-2 {
      width: 68px;
      height: 96px;
    }

  }
  .section-files, .section-questions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

}

/*******************************      SM       ***********************/

@media screen and (max-width: 768px) {

  .section-slider-text {
    margin: 42px 10px;
    position: relative;

    .h3-section-title {
      color: #535353;
      font-weight: 800;
      font-size: 24px;
      line-height: 32px;
    }

  }
  .catalog {

    .properties {
      padding: 0 10px;

      .item-list {
        display: none;
      }

      .item-title {
        font-weight: 500;
        font-size: 11px;
        line-height: 18px;
      }

      .price {
        padding: 10px 0 20px;
        font-size: 14px;
        line-height: 21px;
      }

    }

    .details {
      display: flex;
      height: 37px !important;

      .plus-btn {
        font-size: 14px;
        line-height: 37px;
        height: 100%;

      }

      .details-btn a {
        font-size: 14px;
        line-height: 37px;
      }

    }

    .item {
      margin: 10px 0 !important;
    }

    .details .details-btn a {
      padding: 0 15px;
    }

    .item-img {
      width: 100%;
      height: 146px;

      img.item-2 {
        width: 68px;
        height: 96px;
      }

      .day {
        font-size: 14px;
        line-height: 22px;
        width: 36px;
        height: 20px;
      }
    }
  }
  .catalog .item {
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    margin: 10px 0;
    width: 48%;
  }

  .section-files-title, .section-questions-title {
    background: none;
    width: 100%;
    padding: 0 10px;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    height: auto;
  }
  .section-files, .section-questions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .section-questions-title h2 {
    line-height: 22px;
    margin-left: 0;
    width: 100%;
    font-weight: 800;
    font-size: 18px;


  }
  .section-files-title h2 {
    line-height: 0;
    margin-left: 0;
  }
  .download-text, .look {
    display: none;
  }

  .catalog-files {
    padding: 10px 10px 60px;

    .row {
      margin: 0 0;
      padding: 7px 0;
      border: 0;
    }

    .title-files {
      font-weight: 500;
      font-size: 14px;
      line-height: 26px;

      &:hover {
        color: $color-2;
        text-decoration: underline;
      }
    }

  }
  .catalog-questions {
    margin-top: 10px;

    .form-group {
      width: 100%;
      margin: 0;
    }

    .form-control {
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
    }

    .btn {
      width: 100%;
    }
  }
  .copy {
    margin: 24px 10px;
  }
  .footer {
    padding: 40px 10px;

    .footer-item a {
      font-size: 12px;
    }

    .footer-col {
      width: 50%;
    }

    .footer-item-contact {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;

      .footer-item a {
        margin: 0 10px;
      }

      .footer-item {
        margin: 6px 0;
      }
    }

    .copy {
      display: none;

    }

    .copy-mob {
      display: block;
      border-top: 1px solid #E5E5E5;
      font-weight: 500;
      font-size: 11px;
      line-height: 18px;
      color: #FFFFFF;
      margin: 24px auto;
      padding: 20px 90px;
    }

  }

  .section-services {

    a.card-title {
      line-height: 18px;
      font-size: 14px;
      display: flex;
      align-items: center;
    }

    .services {
      margin-right: 10px;
    }

    .accordion .card-header.collapsed:after {
      display: none;
    }

    .card-body p {

      padding: 0 10px;
    }

    .accordion .card-header:after {
      bottom: 62px;
      justify-content: flex-end;
      display: flex;
      position: relative;
      align-items: flex-start;
    }
  }
  ul.nav.nav-pills.nav-justified {
    flex-direction: column;
    padding: 0 10px;

    a.nav-link {
      text-align: left;
      border-bottom: 1px solid #EDEDED;
      padding: 3px 10px;
    }

  }
  .tab-pane {
    padding: 0 10px;
  }


  .section-banner div#carouselExampleCaptions {
    padding: 0 10px;

    .carousel-inner {
      height: 127px;
    }


    .carousel img {
      object-fit: cover;
    }

  }

  .left-catalog .card-header {
    padding: 15px;
  }
  .section-catalog .section-title, .section-services .section-title, .section-new-items .section-title {
    position: relative;
    font-weight: 800;
    font-size: 18px;
    line-height: 40px;
  }
  .section-services {
    .card-header {
      padding: .75rem 0;
      border-bottom: 0;
    }

    .card-title {
      margin-bottom: 0;

      .services {
        margin-right: 0;
        padding-right: 20px;
      }
    }


  }
  /*************** Catalog *******************/
  .breadcrumb {
    margin: 0;
    padding: 0 10px !important;
  }
  .page-title-box {
    margin: 0 10px;
  }
  .catalog-item {
    margin: 10px;
    padding: 10px;

    .catalog-link {
      padding: 0 !important;
      line-height: 0 !important;
    }
  }
  .filter {
    width: 338px;
    margin: 22px auto;
  }


  /*************** Company *******************/
  .solutions {
    .header-title {
      margin: 20px 10px;
    }

    .col-sm-9 {
      padding: 0;
    }
  }
  .company {
    .nav-pills .nav-link.active, .show > .nav-link {
      color: #3D4F64;
      background: transparent;
      border-radius: 2px 2px 0 2px;
    }
  }

  .nav-link {
    padding: 0;
  }

  .arrow-mob {
    display: block;
    float: right;
    color: #3D4F64;
    font-size: 16px;
  }
  .solutions-img-2 {
    display: flex;
    justify-content: space-between;

    .img-1 {
      width: 107px !important;
      height: 52px !important;
      background: rgba(0, 0, 0, 0.42);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  /*************** Services *******************/
  .services {

    a.nav-link {
      padding: 10px;
      border-left: 0;
      min-height: 86px;
    }

    .arrow-mob {
      display: block;
      float: right;
      color: #fff;
      font-size: 16px;
    }

    ul.nav.nav-pills.nav-justified a.nav-link {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .row-desktop-solutions {
    display: none;
  }
  .row-mob-solutions {
    display: block;
    margin: 10px;

    .mob-solutions-title {
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 24px;
      color: #535353;
      margin: 20px 0;
    }
  }

  .solutions .solutions-img .solutions-img-2 .img-1:nth-child(2n) {
    margin: 0 10px !important;
  }
  .solutions .solutions-img .solutions-img-1 {
    width: 340px;
  }
  /*************** Card Product *******************/
  .delivery {

    .activity {
      flex-direction: column;

      .activity-info {
        display: flex;
        align-items: flex-start;
        padding: 0;
        margin: 24px 0;

        .text_muted {
          padding: 0;
          margin: 0 10px !important;
        }
      }

    }

    ul.nav.nav-pills.nav-justified a.nav-link {
      padding: 0 10px;

      .arrow-mob {
        display: block;
        float: right;
        color: $color-2;
        font-size: 16px;
      }
    }


    .activity-info-form {
      padding: 0 !important;

      .btn-submit {
        width: 100% !important;
        margin: 0 !important;

      }
    }

  }

  .delivery .icon-info-activity-2:before {
    content: "";
    height: 110px;
    border-right: 1px dashed #C4C4C4;
    position: absolute;
    color: #C4C4C4;
    width: 1px;
    top: -120px;
    left: 22px;
    background: #C4C4C4;
  }

  .delivery .icon-info-activity-2:after {
    content: "";
    height: 50px;
    border-right: 1px dashed #C4C4C4;
    position: absolute;
    color: #C4C4C4;
    top: 57px;
    width: 1px;
    right: 0;
    left: 23px;
    background: #C4C4C4;
  }
  .product-row {
    display: none !important;
  }
  .selected-name {
    display: flex;
    flex-direction: column;
    position: relative;

    .sel-item {
      display: flex;
      flex-direction: column;
    }

    h4 {
      font-weight: bold;
      font-size: 12px;
    }
  }
  .sel-item-1 {
    width: 96%;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0 4px 10px rgb(243 168 0 / 20%);
    margin: 15px auto;
    align-items: flex-start !important;
    padding: 20px 0;
  }
  .sel-quant-dram {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-top: 1px solid #E5E5E5;
    padding: 15px 0;
  }
  .selected-info {
    flex-direction: column;
  }
  .input-group .number {
    width: 25px;
  }

  .stock {
    font-size: 10px;
  }

  .selected-dram span {
    line-height: 14px;
  }

  .selected-info-mob {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-top: 1px solid #E5E5E5;
    padding: 15px;
  }
  .selected-close {
    display: none;
  }
  .closed {
    display: block;
    position: absolute;
    right: 20px;
    float: right;
    top: 0;

    .fa-times {
      color: $color-2;
      font-size: 18px;
    }
  }
  .modal-btn {
    justify-content: center !important;
  }
  .total {
    margin-right: 10px;
  }
  .card-product {
    ol.carousel-indicators.list-inline {
      display: flex;
      flex-direction: unset;
    }

    div#custCarousel {
      display: flex;
      flex-direction: column-reverse;
    }

    .carousel-control-prev, .carousel-control-next {
      display: none;
    }

    .mod-btn {
      width: 100%;

      a {
        font-size: 14px;
      }
    }

    .page-title-box {
      margin: 0;

      h2 {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
  ul.item-list {
    margin: 0 10px;
  }
  .table-bloc .header-title span {
    display: none;
  }
  .modifications-bloc {
    .criteria {
      width: 60%;
    }

    .criteria-name {
      width: 40%;
    }
  }
  table#datatable {
    display: none;
  }
  #main {
    display: block;
    margin: 50px 0;


    #main #faq .card {
      border: 0;
    }

    .card:nth-child(2n + 1) {
      background-color: #F9F9F9;
    }

    .card .card-header {
      border: 0;
      -webkit-box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
      box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
      border-radius: 2px;
      padding: 0;
    }

    .card .card-header .btn-header-link {
      display: block;
      text-align: left;
      background: #FFFFFF;
      color: #222;
      padding: 20px;
    }


    .card .card-header .btn-header-link:after {
      content: "\f107";
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      float: right;
    }

    .card .card-header .btn-header-link.collapsed {
      font-size: 14px;
      line-height: 17px;
      color: #535353;
    }

    .card .card-header .btn-header-link.collapsed:after {
      content: "\f106";
    }

    .card .collapsing {
      background: transparent;
      line-height: 30px;
    }

    .card .collapse {
      border: 0;
    }

    .card .collapse.show {
      background: transparent;
      line-height: 30px;
      color: #222;
    }

    .accordion > .card {
      overflow: hidden;
      border: 0;
    }

    .table {
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
      display: flex;

      .table-bordered thead td, .table-bordered thead th {
        border: 0;
        text-align: left;
      }

    }

    .table tbody tr {
      display: flex;
      flex-direction: column;
      border: 0;
    }

    .table thead {
      background: transparent;
    }

    .table thead tr {
      display: flex;
      flex-direction: column;
      border: 0;
    }

    .table td, .table th {
      border: 0 !important;
      text-align: left;
    }

    .table thead th {
      border: 0 !important;
      text-align: left;
    }

  }
}
















